.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10px;
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .cart__icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart .cart__count-product {
    width: 22px;
    height: 22px;
    background: red;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    color: white;
    position: absolute;
    bottom: 1px;
    right: 0;
}

.cart .cart__count-product span {
    font-size: 1.2em;
    font-weight: 600;
}

.header-search {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
}

.header-search input[type="text"] {
    width: 300px;
    height: 45px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    /* border: 1px solid #333; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    margin-right: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0.5px rgba(51, 51, 51, 0.1);
}

.btn {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.btn--search {
    padding: 8px 20px;
    background-color: #67d861;
    border-radius: 20px;
    font-size: 1.8em;
    color: white;
    font-weight: 600;
}

.wrapper-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.product-wrapper-item {
    max-width: 180px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.4);
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.product-wrapper-item .product__img {
    width: 151px;
    height: 151px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-wrapper-item .product__img img {
    width: 151px;
    height: 151px;
    object-fit: cover;
}

.product-wrapper-item .product__desc {}

.product-wrapper-item .product__desc .product__name {
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-wrapper-item .product__desc .product__artist {
    font-size: 1.6em;
    font-weight: 500;
    color: #f0f0f0;
}

.product-wrapper-item .product__desc .product__artist:hover {
    text-decoration: underline;
}

.add-product {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #67d861;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.add-product span {
    color: white;
    font-weight: 600;
    font-size: 3em;
}