.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10px;
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    margin: 10px 0 0 0;
}

.cart .cart__icon span {
    color: white;
    font-size: 4em;
}

.cart {
    position: relative;
    cursor: pointer;
}

.wrapper-add-product__heading {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.wrapper-add-product {
    position: absolute;
    width: 400px;
    background-color: white;
    min-height: 300px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    display: none;
    z-index: 999;
}

.cart:hover .wrapper-add-product {
    display: block;
}

.wrapper-add-product::after {
    content: " ";
    position: absolute;
    border-width: 20px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    top: -30px;
    left: -1px;
}

.wrapper-add-product::before {
    content: " ";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    top: -30px;
    left: -1px;
    border-color: transparent;
}

.new-product-add__item {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.new-product-add__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.new-product-add__item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}

.new-product-add__desc {}

.new-product-add__desc .new-product-add__title {
    font-size: 1.8em;
    margin-bottom: 1px;
    font-weight: 600;
}

.new-product-add__desc .new-product-add__artist {
    font-size: 1.5em;
    font-weight: 500;
}

.cart-empty {
    text-align: center;
}

.cart-empty img {
    margin: 10px;
    width: 200px;
    height: 200px;
}

.cart-empty p {
    font-size: 2em;
}

.cart .cart__count-product {
    width: 22px;
    height: 22px;
    background: red;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0;
    right: -5px;
    display: none;
}

.cart .cart__count-product span {
    font-size: 1.2em;
    font-weight: 600;
}

.header-search {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
}

.header-search input[type="text"] {
    width: 300px;
    height: 45px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    /* border: 1px solid #333; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    margin-right: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0.5px rgba(51, 51, 51, 0.1);
}

.btn {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.btn--search {
    padding: 8px 20px;
    background-color: #67d861;
    border-radius: 20px;
    font-size: 1.8em;
    color: white;
    font-weight: 600;
}

#wrapper-product {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.product-wrapper-item {
    max-width: 180px;
    min-height: 262px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.4);
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.product-wrapper-item .product__img {
    width: 151px;
    height: 151px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-wrapper-item .product__img img {
    width: 151px;
    height: 151px;
    object-fit: cover;
}

.product-wrapper-item .product__desc {}

.product-wrapper-item .product__desc .product__name {
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-wrapper-item .product__desc .product__artist {
    font-size: 1.3em;
    font-weight: 500;
    color: #f0f0f0;
}

.product-wrapper-item .product__desc .product__artist:hover {
    text-decoration: underline;
}

.add-product {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #67d861;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.add-product span {
    color: white;
    font-weight: 600;
    font-size: 3em;
}