.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10px;
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .cart__icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart .cart__count-product {
    width: 22px;
    height: 22px;
    background: red;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    color: white;
    position: absolute;
    bottom: 1px;
    right: 0;
}

.cart .cart__count-product span {
    font-size: 1.2em;
    font-weight: 600;
}

.header-search {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
}

.header-search input[type="text"] {
    width: 300px;
    height: 45px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    /* border: 1px solid #333; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    margin-right: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0.5px rgba(51, 51, 51, 0.1);
}

.btn {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.btn--search {
    padding: 8px 20px;
    background-color: #67d861;
    border-radius: 20px;
    font-size: 1.8em;
    color: white;
    font-weight: 600;
}